/* Result.css */

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #000; /* Black background color */
  min-height: 100vh;
  width: 100%;
}

.container-result {
  width: 500px;
  height: auto; /* Adjust height automatically based on content */
  background-color: rgb(234, 225, 225); /* Light grey background */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(195, 193, 193, 0.863); /* 3D box shadow */
  padding: 20px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s forwards; /* Fade-in animation */
  margin: 20px auto; /* Center the container horizontally */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Move up slightly while fading in */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-result p {
  color: rgb(101, 98, 98); /* Dark grey text color */
  margin-bottom: 10px; /* Add space between paragraphs */
}

.container-result h1 {
  font-size: 24px;
  font-weight: bold;
  color: #d78998; /* Blue heading color */
  margin-bottom: 20px;
}

.container-result ul {
  list-style: none;
  padding-left: 0;
}

.container-result ul li {
  margin-bottom: 8px;
  color: rgb(101, 98, 98); /* Light grey text color for list items */
  margin-left: 20px; /* Indent list items */
}

.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .container-result {
      width: 90%; /* Adjust width to 90% of the viewport width */
      max-width: 90%; /* Set maximum width for smaller screens */
  }
}
