.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
  background: url('./images/gray.png') no-repeat center center fixed;
  background-size: cover; 
  min-height: 100vh;
  width: 100%;
}


.container-result {
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  opacity: 0; 
  animation: fadeIn 1s forwards; 
}

.container-result:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-result p {
  color: #656262; 
  margin-bottom: 10px; 
}

.container-result h1 {
  font-size: 24px;
  font-weight: bold;
  color: #d78998;
  margin-bottom: 20px;
  text-align: center; 
}

.container-result ul {
  list-style: none;
  padding-left: 0;
}

.container-result ul li {
  margin-bottom: 8px;
  margin-left: 20px; 
  color: #656262;
}


.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}


@media (max-width: 768px) {
  .container-result {
    width: 90%; 
    max-width: 90%;
  }
}
